/* .frame { */
    /* background-color: @view_bg_color; */
/* } */

.textbox {
    background-color: transparent;
    font-size: 18pt;
    font-family: "Latin Modern Math";
}

.cell_list {
    background-color: transparent;
    /* padding-bottom: 200px; */
}
